*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
/public/theme
!/public/theme/css/custom.css
/public/atd_frontend_theme
/vendor
.bundle
bootstrap/cache/*.php
/public/storage